body {
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
}

main{
    flex: 2;
    display:flex;
    align-items: center;
    padding: 100px;
}

.menu{
    margin-top: 0;
    background-color: rgb(232, 211, 224);
    display: flex;
    justify-content: center;
    text-align : center;
}

.menuoptions {
    list-style: none;
    display : flex;
    text-align: center;
}

.menulist {
    color: black;
    margin: 30px;
    list-style: none;
    text-decoration: none;
    
    transition: border-radius 0.5s ease;

}

.link {
    text-decoration: none;
    list-style: none;
    color: black;
    transition: transform 0.5s ease;
}

.menulist:hover{
    text-decoration: underline;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    text-align: center;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color:black ;
}

.project {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 50px;
}


.project {
    display: grid;
    flex-direction: column;
    align-items: flex-start;  
    gap: 50px;
    margin-left: 20px; 
}

.projectshape1 {
    background-color: white;
    height: 50px;
    width: 260px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.projectshape2 {
    background-color: white;
    height: 50px;
    width: 260px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.projectshape1:hover {
    transform: translateY(-5px);
}

.projectshape2:hover {
    transform: translateY(-5px);
}

.link:hover {
    color: blue; 
}

h2 {
    text-align: center;
}

.paragraph {
    text-align: center;
}

fieldset {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form br {
    display: none; 
}

form br + input,
form br + textarea {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 5px auto 15px auto;
}

input[type="Submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer {
    margin-top: 40px;
}

